<table class="table is-bordered is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Station Title</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each objects}}
    <tr>
      <td>
        {{title}}
      </td>
      <td>
        {{latitude}}
      </td>
      <td>
        {{longitude}}
      </td>
      <td>
        <a href="/object/{{_id}}" class="button">
          {{>icons/open}}
        </a>
        <a href="/dashboard/deleteobject/{{_id}}" class="button">
          {{>icons/delete}}
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>